.HintRow {
  width: 102px;
  height: 51px;
  line-height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 66px;
  white-space: nowrap;

  &:nth-child(5n) {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  @media screen and (max-width: 767.9px) {
    width: 37px;
    height: 26px;
    line-height: 26px;
    margin-right: 16px;
  }
}
