.HintColumns {  
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  font-size: 16px;

  @media screen and (max-width: 767.9px) {
    top: 65px;
    left: 25px;
    font-size: 10px;
  }
}

.HintRows { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52px;
  margin-top: 111px;
  margin-left: -580px;
  position: absolute;
  top: 0;
  text-align: center;
  pointer-events: none;
  font-size: 16px;
  word-spacing: 3px;

  @media screen and (max-width: 767.9px) {
    margin-top: 91px;
    margin-left: -285px;
    font-size: 10px;
    width: 26px;
  }
}